.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: lavenderblush;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
